* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root {
    --black-color: #101010;
    --gray-strong-color: #20212A;
    --gray-weack-color: #BfC0C0;
    --green-strong-color: #329431;
    --green-weack-color: #91f73d;
    --color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--black-color);
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color);
    text-align: center;
    margin-bottom: 1rem;
}

nav {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: var(--gray-weack-color);
    padding-left: 15px;
}

nav a:hover  {
    color: var(--color);
}

.container {
    width: 97%;
    background-color: var(--color);
    margin: 0 auto 1.1rem auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1.2rem;
}

.container-feature {
    border: solid 2px var(--gray-strong-color);
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--green-strong-color);

}

.title {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.title-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}


.btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn img {
    width: 40px;
}

.list-control {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.input-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--gray-strong-color);
    border-radius: 10px;
    padding: 0.8rem 2rem;
}

.input-list input {
    width: 6rem;
}






